
* {
    margin: 0;
    padding: 0;
}

body {

    min-width: 320px;
    font-size: 14px;
    font-family: 'muli', italic;
    color: #626262;
}


img {

    max-width: 100%;
    height: auto;
}


a {
    color: dodgerblue;
}

a:hover {
    color: #898377;
}

/*-------------Header------------------*/


header {

    position: fixed;
    width: 100%;
    z-index: 20;
}

header .navbar-light {}


header .nav-item {
    text-transform: uppercase;
    margin-left: 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}



header .active a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #03a9f4;
    height: 2px;
    transform: scale(1);
    
    
}


.header-wrapper {

    background-color: rgba(0, 0, 0, 0.3);
    min-height: 100vh;
    padding-bottom: 70px;

}


.header-subtitle {


    font-size: 22px;
    padding-bottom: 20px
}


/*-------------------Navigation-----------*/

#navBar a {

    color: rgba(255, 255, 255, 0.8);
}



.jsHover {
    
    color: #03a9f4 !important ;
    
}

.navbarBrand {

    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
}

.navbarBrand:hover {


    text-decoration: none !important;
    color: rgba(255, 255, 255, 0.8) !important;
    
        
}

.align-holder {

    
    padding-top: 160px;
    color: white;
}


.navbar-toggler-icon {
    background-image: url(../images/menu1.png) !important;
    opacity: 0.5;
}

.navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5) !important;
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar-light .navbar-toggler:hover {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1)
}

/*----------------------About me--------------*/

.card-image {

    padding-right: 10px;

}

.color-tittle {
    color: white;
}

.color2 {

    color: #ff9800;
    margin-top: 25px;
}

#greating {

    background-image: url(../images/it1.jpg);
    min-height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

#contacts {

    background-image: url(../images/it1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.button-CV {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.3);
    width: 185px;
    display: block;
    text-align: center;
    height: 45px;
    border-radius: 20px;
    padding-top: 8px;
    border: 3px solid rgba(255, 255, 255, 0.8);
    font-weight: bold;



}


.button-CV:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2)
}


.col-shadow:hover {

    box-shadow: 3px 5px 10px #c9c9cd;
    -webkit-box-shadow: 3px 5px 10px #c9c9cd;
    -moz-box-shadow: 3px 5px 10px #c9c9cd;

    -o-transform: translate(-2px, -2px);
    -ms-transform: translate(-2px, -2px);
    -moz-transform: translate(-2px, -2px);
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
}

.col-shadow {
    transition: all 0.1s;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    border: 1px solid #c9c9cd;
    margin-bottom: 30px;
    padding: 10px;
}

.col-distance {}


.title-center {

    text-align: center;

}

.dawn-title {
    margin-top: 100px;
    margin-bottom: 50px;
}

.marginBottom{
    
    margin-bottom: 50px;
}

.about-me {

    padding-top: 25px;
}

/*----------------Portfolio----------*/

.card-img img {

    opacity: 0.85;

}

.card-img {

    background-color: black;

}

.content-logo {
    width: 110px;
    margin-top: -55px;
    border-radius: 78px;
    box-shadow: 0 0 20px black;

}

.content-logo-tittle {

    font-size: 14px;
    font-family: 'muli', italic;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 90px;
}

.post-category {
    font-family: 'muli', italic;
    font-size: 14px;
    color: cornflowerblue;
    text-transform: uppercase;
    font-weight: 600;
}

.post-title a {
    color: #626262;
    font-size: 26px;
}

.card-text-align {
    text-align: center;
}

.container-bottom {
    margin-bottom: 40px;
}


grid-posts {
    margin-top: 100px;
    margin-bottom: 100px;
}

.grid-posts .card {
    border: 0;
    margin-bottom: 100px;
}

.grid-posts .card-body {
    padding-left: 0;
    padding-right: 0;
}

.grid-posts .card-img-top {
    border-radius: 0;
}



.post-image-block {

    text-align: center;
}

.post-image {

    max-width: 650px;
}

.card-img {
    overflow: hidden;

}

.card-img-top {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.card-img-top:hover {
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);

}


/*------------Footer--------*/

footer {
    background-color: #fff;
    padding: 5px 0;
    color: grey;
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    text-align: center;

}

.footer-wrapper {

    background-color: rgba(0, 0, 0, 0.6);
    min-height: 80vh;

}

.footer-tittle{
    
    margin-top: 140px;
    margin-bottom: 70px;
}


.footer-image{
    
    margin: 5px;
    max-width: 40px;
}


.footer-image:hover {
    
    box-shadow: 0 0 10px #fff;
    border-radius: 20px;
}


.footer-p-margin{
    
    padding-left: 10px;
    
}



/*-----------------Media----------------------*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {



    @media only screen and (max-width: 1199px) {
        .grid-posts .card-img-top {
            max-height: 300px;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {}

    @media only screen and (max-width : 991px) {


        nav {

            text-align: center;
            width: 100%;
            float: none;
            background-color: rgba(255, 255, 255, 0.1);

        }

        nav .nav-item {

            width: 100px;
            margin-left: auto !important;
            margin-right: 60px !important;


        }




        .grid-posts .card-img-top {
            max-height: 220px;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        .grid-posts {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .grid-posts .card {
            margin-bottom: 50px;
        }

        .grid-posts .card-img-top {
            max-height: 100%;
        }

        .card-text-block {
            text-align: center;
        }

        .card-image {

            text-align: center;
        }

        .card-image img {

            width: 100px;


        }

        .about-me {
            text-align: center;

        }
    }

    @media only screen and (max-width : 575px) {
        .footer-left {
            margin-bottom: 10px;
        }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {}
