a{
    
    color:dodgerblue ;
    
}

.about-me{
    
    text-align: center;
    margin-top: 60px;
        
}

.contacts{
    
    text-align: center;
    
        
}

.contacts__image {
    
    width: 152px;
    height: 152 px;
    border-radius: 100px;
    
}

.contacts__content{
    
    display: inline-block;
    vertical-align: top;
    margin-right: 25px;
    text-align: left;
        
}
.contacts__site {
    
   display: inline-block;
   margin-top: 2px;      
        
}
.contacts__photo{
    
   padding-top: 30px;
        
}

.about-me__name{
    font-size: 18px;
}