@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);

body {
    background: #fff;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #333;
    line-height: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #333;
}

h1 {
    font-size: 36px;
    color: #fff;
}

h2 {
    font-size: 20px;
    color: rgba(52, 52, 56,0.8);
}

h3 {
    font-size: 16px;
    color: rgba(52, 52, 56, 0.7);
    font-weight: 400;
    line-height: 24px;
}

h4 {
    font-size: 16px;
}

p{
   color: rgba(52, 52, 56,0.8);
}

a {
    color: #E8CE0E;
    -webkit-transition: color 300ms, background-color 300ms;
    -moz-transition: color 300ms, background-color 300ms;
    -o-transition: color 300ms, background-color 300ms;
    transition: color 300ms, background-color 300ms;
}

a:hover,
a:focus {
    color: #d43133;
}

hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
}


.btn-primary {
    padding: 8px 20px;
    background: #E8CE0E;
    color: #fff;
    border-radius: 4px;
    border: none;
    margin-top: 10px;
}


.btn-primary:hover,
.btn-primary:focus {
    background: #E8CE0E;
    outline: none;
    box-shadow: none;
}

.btn-transparent {
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
}

.btn-transparent:hover {
    border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
    color: #000;
    text-decoration: none;
    outline: none;
}

.dropdown-menu {
    margin-top: -1px;
    min-width: 180px;
}

.center h2 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 20px;
}

.media > .pull-left {
    margin-right: 20px;
}

.media > .pull-right {
    margin-left: 20px;
}

body>section {
    padding-top: 120px;
}

.center {
    text-align: center;
    padding-bottom: 55px;
}

.scaleIn {
    -webkit-animation-name: scaleIn;
    animation-name: scaleIn;
}

.lead {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.transparent-bg {
    background-color: transparent !important;
    margin-bottom: 0;
}

@-webkit-keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}


/*---------Header-------------*/ 

.navbar-fixed-top .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar > .container .navbar-brand {
    margin-left: 0;
}

.top-bar {
    padding: 10px 0;
    background: #fff;
    border-bottom: 1px solid #222;
    line-height: 28px;
}

.navbar-brand {
    padding: 0;
    margin: 0;
    color: #E8CE0E;
}

.navbar-header a.navbar-brand {
    color: #E8CE0E;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    padding: 15px 0;
    padding-bottom: 0;
    box-shadow: 0  0 7px gray; 
}

.navbar-nav {
    margin-top: 12px;
}

.navbar-nav > li {
    margin-left: 25px;
    padding-bottom: 28px;
}

.navbar-fixed-top .navbar-nav > li > a {
    padding: 5px 15px;
    margin: 0;
    border-radius: 3px;
    color: #000;
    line-height: 24px;
    display: inline-block;
}

.navbar-fixed-top .navbar-nav > li > a:hover {
    background-color: #fff;
    color: #E8CE0E;
}

.navbar-fixed-top {
    border: none;
}

.navbar-fixed-top .navbar-brand {
    font-size: 36px;
    line-height: 50px;
    color: #fff;
}

.navbar-fixed-top .navbar-nav > .active > a,
.navbar-fixed-top .navbar-nav > .active > a:hover,
.navbar-fixed-top .navbar-nav > .active > a:focus,
.navbar-fixed-top .navbar-nav > .open > a,
.navbar-fixed-top .navbar-nav > .open > a:hover,
.navbar-fixed-top .navbar-nav > .open > a:focus {
    background-color: #fff;
    color: #E8CE0E;
    text-shadow: 0 0 1px 5px black
}

.navbar-fixed-top .navbar-nav .dropdown-menu {
    background-color: rgba(255, 255, 255, .85);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    border: 0;
    padding: 0;
    margin-top: 0;
    border-top: 0;
    border-radius: 0;
    left: 0;
}

.navbar-fixed-top .navbar-nav .dropdown-menu:before {
    position: absolute;
    top: 0;
}

.navbar-fixed-top .navbar-nav .dropdown-menu > li > a {
    padding: 8px 15px;
    color: #fff;
}

.navbar-fixed-top .navbar-nav .dropdown-menu > li:hover > a,
.navbar-fixed-top .navbar-nav .dropdown-menu > li:focus > a,
.navbar-fixed-top .navbar-nav .dropdown-menu > li.active > a {
    background-color: #E8CE0E;
    color: #fff;
}

.navbar-fixed-top .navbar-nav .dropdown-menu > li:last-child > a {
    border-radius: 0 0 3px 3px;
}

.navbar-fixed-top .navbar-nav .dropdown-menu > li.divider {
    background-color: transparent;
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-top .navbar-form {
    border-top: 0;
    padding-bottom: 0;
}


/*----------------Top-------------*/

.top-image {

    max-width: 200px;
}


#top {

    background: linear-gradient(rgba(86, 164, 235, 1), rgba(86, 164, 235, 0.8), rgba(86, 164, 235, 1)), url(../images/top.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    
}



.vertical-middle {
    margin: auto;
    text-align: center;
}

.text-center {

    text-align: center;
}

.top-title {

    font-size: 70px;
    font-weight: 600;
}

.top-subtitle {
    color: #fff;
    font-size: 18px;
    font-weight: 800;
}



.blur {
    -webkit-filter: url(#blur);
    filter: url(#blur);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
    -webkit-transition: 1s -webkit-filter linear;
    transition: 1s filter linear;
}

.top-hidden {

    display: none;
}



.button-more{
    
    border: 2px solid rgba(232,206,14, 0.3);
    border-radius: 18px;
    padding: 5px 10px;
    background-color: rgba(232,206,14, 0.1) ;
    
    }

a.button-more:hover {
    
    border: 2px solid rgba(232,206,14, 0.1);
    border-radius: 18px;
    padding: 5px 10px;
    background-color: rgba(255,255,255, 0.1) ;
    color: rgba(255,255,255, 0.7);
    
    }


.header-buttons-wrapper{
    
   margin-top: 40px; 
}

/*-------------------Feature-----------------*/


#feature {
     background: linear-gradient(rgba(86, 164, 235, 1),rgba(232,206,14, 0.5),rgba(232,206,14, 0.5), rgba(86, 164, 235, 1));
    padding-bottom: 0px;
}


.features {
    padding: 0;
}

.feature-wrap {
    margin-bottom: 35px;
    overflow: hidden;
}

.feature-wrap h2 {
    margin-top: 10px;
}

.feature-wrap .pull-left {
    margin-right: 25px;
}


.get-started {

    margin-top: 10px;
    padding-top: 40px;
    color: #fff;
    padding-bottom: 10px;
}

.get-started h2 {


    color: #fff
}

/*--------------Services-----------*/

#services {
    background: linear-gradient(rgba(86, 164, 235, 1), rgba(86, 164, 235, 0.4));
    padding-bottom: 0px;
    
    }
.text-center{
    text-align: center;
}

.services-wrap {
    padding: 40px 30px;
    background: #fff;
    border-radius: 40px;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    max-width: 310px;
    margin-right: auto;
    margin-left: auto;
}

.services-wrap h3 {
    font-size: 20px;
    margin: 10px 0;
}


.img-size {
    width: 200px;
     
}

/*----------Recent-work------------*/


#about-us .col-xs-12.col-sm-4.col-md-3 {
    padding: 0;

}

#about-us {
    padding-bottom: ;
    background: linear-gradient(rgba(86, 164, 235, 0.4),rgba(86, 164, 235, 0.6),rgba(86, 164, 235, 0.8),rgba(86, 164, 235, 1),rgba(86, 164, 235, 1));
    margin-bottom: 0px;
}

.recent-work-wrap {
    position: relative;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0f1352;
}

.recent-work-wrap img {
    width: 100%;
    opacity: 0.85;
    
}

.recent-work-wrap .recent-work-inner {
    background: transparent;
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;
    text-align: center;
    margin: auto;
}

.recent-work-wrap .recent-work-inner h3 {
    margin: 10px 0;
    font-size: 24px;
    color: rgba(232,206,14, 0.7);
    margin-bottom: 20px;
}

.recent-work-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 0;
    background: rgba(51,51,51, 0.95);
    color: #fff;
    vertical-align: middle;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    padding: 30px;
    display: flex;
    
}

.recent-work-wrap .overlay .preview {
    bottom: 0;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    border-radius: 0;
    background: transparent;
    text-align: center;
    color: #fff;
}

.recent-work-wrap:hover .overlay {
    opacity: 1;
}


.skill h2 {
    margin-bottom: 25px;
}

.progress-wrap {
    position: relative;
}

.progress .color1,
.progress .color1 .bar-width {
    background: #2d7da4;
}

.progress .color2,
.progress .color2 .bar-width {
    background: #6aa42f;
}

.progress .color3,
.progress .color3 .bar-width {
    background: #ffcc33;
}

.progress .color4,
.progress .color4 .bar-width {
    background: #db3615;
}

.progress,
.progress-bar {
    height: 15px;
    line-height: 15px;
    background: #e6e6e6;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    overflow: visible;
    text-align: right;
}

.progress {
    position: relative;
}

.progress .bar-width {
    position: absolute;
    width: 40px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    top: -30px;
    border-radius: 2px;
    margin-left: -30px;
}

.progress span {
    position: relative;
}

.progress span:before {
    content: " ";
    position: absolute;
    width: auto;
    height: auto;
    border-width: 8px 5px;
    border-style: solid;
    bottom: -15px;
    right: 8px;
}

.progress .color1 span:before {
    border-color: #2d7da4 transparent transparent transparent;
}

.progress .color2 span:before {
    border-color: #6aa42f transparent transparent transparent;
}

.progress .color3 span:before {
    border-color: #ffcc33 transparent transparent transparent;
}

.progress .color4 span:before {
    border-color: #db3615 transparent transparent transparent;
}

.accordion h2 {
    margin-bottom: 25px;
}

.panel-default {
    border-color: transparent;
}

.panel-default > .panel-heading,
.panel {
    background-color: #e6e6e6;
    border: 0 none;
    box-shadow: none;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
    background: #fff;
    color: #858586;
}

.panel-body {
    padding: 20px 20px 10px;
}

.panel-group .panel + .panel {
    margin-top: 0;
    border-top: 1px solid #d9d9d9;
}

.panel-group .panel {
    border-radius: 0;
}

.panel-heading {
    border-radius: 0;
}

.panel-title > a {
    color: #4e4e4e;
}

.accordion-inner img {
    border-radius: 4px;
}

.accordion-inner h4 {
    margin-top: 0;
}

.panel-heading.active {
    background: #1f1f20;
}

.panel-heading.active .panel-title > a {
    color: #fff;
}

a.accordion-toggle i {
    width: 45px;
    line-height: 44px;
    font-size: 20px;
    margin-top: -10px;
    text-align: center;
    margin-right: -15px;
    background: #c9c9c9;
}

.panel-heading.active a.accordion-toggle i {
    background: #E8CE0E;
    color: #fff;
}

.panel-heading.active a.accordion-toggle.collapsed i {
    background: #E8CE0E;
    color: #fff;
}


.service-margin{
 
    margin-top: 50px;
    
}

.color-white{
    color: #fff !important;
}

/*------------------Partners-------------*/
#partners {
     background: linear-gradient(rgba(86, 164, 235, 1),rgba(86, 164, 235, 0.7),rgba(86, 164, 235, 0.3),rgba(86, 164, 235, 0.3));
    
}

.row-margin-top{
    
    margin-top: 30px;
}

.partners-logo{
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}


/*------------------Contacts-------------*/

#contact-us{
    
   background: linear-gradient(rgba(86, 164, 235, 0.3),rgba(86, 164, 235, 0.5),rgba(232,206,14, 0.3));
    
}


.contacts-us{
    
    max-width: 205px;
    margin: auto;
}

.social{
    
    margin-top: 10px;
}

ul.social-share {
    display: flex;
    padding: 0;
       }

ul.social-share li {
    width: 25px;
    list-style: none;
    margin: 5px;
    }


ul.social-share li a {
    display: block;
    color: #fff;
    background: #404040;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 2px;
}

ul.social-share li a:hover {
    background: #E8CE0E;
    color: #fff;
}




/* --- Map --- */
.map {
    position: relative;
    
}

/* google map */
#google-map {
    position: relative;
    height: 400px;
}

/*---------- Isotope Filtering --------*/

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}



#bottom {
    
    font-size: 14px;
}

.widget   {
    list-style: none;
    text-align: center;
     margin-bottom: 10px;
}

.widget p {
    display: block;
    padding: 5px 0;
    background-color:#f2f3f4;
}

.widget  p {
    color: #000;
}


/*----------- Footer -----------*/

#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    background: #000;
}

#footer a {
    color: #fff;
}

#footer a:hover {
    color: #E8CE0E;
}

#footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer ul > li {
    display: inline-block;
    margin-left: 15px;
}




/*------------Media--------------*/

/* lg */
@media (min-width: 1200px) {

    /* Make Navigation Toggle on Desktop Hover */
    .dropdown:hover .dropdown-menu {
        display: block;
        -webkit-animation: fadeInUp 400ms;
        animation: fadeInUp 400ms;
    }

    #portfolio .row {
        margin-left: -10px;
        margin-right: -10px;
    }


}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {

    /* Make Navigation Toggle on Desktop Hover */
    .dropdown:hover .dropdown-menu {
        display: block;
        -webkit-animation: fadeInUp 400ms;
        animation: fadeInUp 400ms;
    }

    .navbar-nav > li {
        margin-left: 10px;
    }

    .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }

    .recent-work-wrap .recent-work-inner h3 a {
        font-size: 20px;
        
    }

    .recent-work-wrap .overlay {
        padding: 15px;
    }

    .services-wrap {
        padding: 40px 10px 40px 30px;
    }

    .feature-wrap h2,
    .single-services h2 {
        font-size: 18px;
    }

    .feature-wrap h3,
    .single-services h3 {
        font-size: 14px;
    }

    .tab-wrap .media .parrent.pull-left {
        clear: both;
        width: 100%;
    }

    .tab-wrap .media .parrent.media-body {
        clear: both;
    }

    #portfolio .row {
        margin-left: -10px;
        margin-right: -10px;
    }

    .recent-work-wrap .overlay .preview {
        line-height: inherit;
    }
   
    .team-bar .first-arrow {
        width: 21%;
    }

    .team-bar .second-arrow {
        width: 20%;
    }

    .team-bar .third-arrow {
        width: 21%;
    }

    .team-bar .fourth-arrow {
        width: 20%;
    }

    ul.social_icons li {
        margin-right: 0;
    }

}


/* sm */
@media (min-width: 768px) and (max-width: 991px) {

    /* Make Navigation Toggle on Desktop Hover */
    .dropdown:hover .dropdown-menu {
        display: block;
        -webkit-animation: fadeInUp 400ms;
        animation: fadeInUp 400ms;
    }

    .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-nav > li {
        margin-left: 0;
    }

    #main-slider .carousel h1 {
        font-size: 25px;
    }

    #main-slider .carousel h2 {
        font-size: 20px;
    }

    .tab-wrap .media .parrent.pull-left,
    .media.accordion-inner .pull-left {
        clear: both;
        width: 100%;
    }

    .tab-wrap .media .parrent.media-body,
    .media.accordion-inner .media-body {
        clear: both;
    }

    .services-wrap {
        padding: 40px 0 40px 30px;
    }

    .recent-work-wrap .overlay {
        padding: 15px;
    }

    .recent-work-wrap .recent-work-inner h3 a {
        font-size: 20px;
    }

    .sinlge-skill {
        width: 150px;
        height: 150px;
    }

    .sinlge-skill p em {
        font-size: 25px;
    }

    .sinlge-skill p {
        font-size: 16px;
    }


    .blog .blog-item .entry-meta > span a {
        font-size: 10px;
    }
}

/* xs */
@media (max-width: 767px) {

    .container > .navbar-header,
    .container > .navbar-collapse {
        margin-left: 0;
    }

    .top-number {
        font-size: 14px;
    }

    input.search-form:hover {
        width: 120px;
    }

    .navbar-nav > li {
        padding-bottom: 0;
    }

    #main-slider .carousel h1 {
        font-size: 25px;
    }

    #main-slider .carousel h2 {
        font-size: 16px;
    }

    .feature-wrap h2,
    .single-services h2 {
        font-size: 18px;
    }

    .feature-wrap h3,
    .single-services h3 {
        font-size: 14px;
    }


    .media.accordion-inner .pull-left,
    .media.accordion-inner .media-body {
        clear: both;
    }

    .accordion-inner h4 {
        margin-top: 10px;
    }

    .tab-wrap .media .pull-left {
        clear: both;
        width: 100%;
    }

    .tab-wrap .media .media-body {
        clear: both;
    }

    .nav-tabs > li.active > a:after {
        display: none;
    }

    #footer .col-sm-6 {
        text-align: center;
    }

    #footer .pull-right {
        float: none !important;
    }

    .sinlge-skill {
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .team .single-profile-top,
    .team .single-profile-bottom {
        margin-bottom: 30px;
    }

    .clients-area {
        padding: 60px 0;
    }

    .clients-area h1 {
        font-size: 25px;
    }

    .portfolio-item,
    #about-us .col-xs-12.col-sm-4.col-md-3 {
        padding: 0 15px;
    }

    ul.social_icons li {
        margin-right: 0;
    }

    .blog .blog-item .entry-meta {
        margin-bottom: 20px;
    }

    .blog .blog-item .blog-content h3 {
        margin-bottom: 20px;
    }

    .post_reply_comments {
        padding-left: 20px;
    }


}

/* XS Portrait */
@media (max-width: 480px) {}
